/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Reset CSS*/

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Bold";
    src: url('./fonts/Roboto-Bold.ttf');
}

$primary-blue: #42699b;

body {
	color: #293033;
}
body, input, textarea {
  font-family: "Roboto-Regular";
  font-size: 100%;
}

.clearfix {
	clear: both;
}

.text-bold, b, strong {
		font-family: "Roboto-Bold";
}
.text-italic, i, em {
	font-style: italic;
}
.text-underline {
	text-decoration: underline;
}

a {
		text-decoration: none;
		color: $primary-blue;
		&:focus, &:hover {
			text-decoration: underline;
		}
}

a, button {
	&:focus {
		outline: 1px solid $primary-blue;
	}
}

.sr-only {
	  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

h2 {
	font-size: 1.125em;
	padding: 10px;
}
.page-heading {
	font-size: 1.75em;
	text-align: center;
	margin-bottom: 20px;
	color: $primary-blue;
}
.width-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.pre-login{
	background: #525252;
	background: -webkit-linear-gradient(to right, #3d72b4, #525252);
	background: linear-gradient(to right, #3d72b4, #525252);
	display:flex;
	align-items: center;
	justify-content: center;
}

/*Global Editor*/
.editor-text {
	font-size: 1.5em;
	line-height: 1.4;
	border: 0;
	width: 100%;
	padding: 5px;
	/*color: #5e5e5e;*/
	&:focus {
		outline: none;
	}
}
.editor-title {
	font-size: 1.5em;
	font-family: "Roboto-Bold";
}
.editor-wrapper {
	margin-top: 30px;
}
.medium-editor-element {
	outline: none;
	font-size: 1.25em;
}
/*Global Editor*/
