@mixin boxShadow($hOffset, $vOffset, $blur, $spread, $color) {
  box-shadow: $hOffset $vOffset $blur $spread $color;
  -moz-box-shadow: $hOffset $vOffset $blur $spread $color;
  -webkit-box-shadow: $hOffset $vOffset $blur $spread $color;
}