@import "styles/mixins.scss";

$main-color: #21A1DF;
$disabledButton: #26B8FF;
$background: #EFF4F8;
$white: #ffffff;
$black: #000000;
$grey: #ccc;
$box-shadow-color: rgba(0,0,0,0.08);
$error-color: red;
$iconColor: #555555;
$borderColor: #f0f0f0;
$linkColor: #24b1e6;
$tableLinkColor: #007bff;
$dark-gray-color: #282828;
$disableLinkColor: #cbcbcb;
$border: #ccc;
$calendarDayColor: rgba(211, 247, 206, 0.7);
$disabledColor: #e9ecef;
$tooltipColor : #d5d5d5;
$tooltip-box-shadow-color: rgba(0,0,0,0.3);
$viewTitle: #282828;
$functions-suggested: #3EBEB6;
$variables-suggested: #F03390;
$light-grey: #495057;
$light-white: #ced4da;

$progressStatus: #FFE28A;
$successStatus: #72D298;
$failedStatus: #CD6A6E;
